input {
    vertical-align: middle;
}

input::placeholder {
    color: #BFBFBF;
}

button {
    /* 버튼 투명하게 */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.inline {
    /* 한 줄로 배열 */
    float: left;
}

