.write-review-container {
    width: 100%;
    margin-top: 24px;
    font-size: 20px;
}

.write-review-container span {
    font-size: inherit;
    text-decoration: underline;
    color: #707070;
}

.write-review-container button {
    font-size: inherit;
    font-weight: bold;
    padding: 0;
}

#press-to-select {
    margin-right: 16px;
    color: #707070;
}

#go-to-review {
    margin-left: 16px;
    color: #686CE5;
}