.write-post-container {
    margin-top: 20px;
    font-size: 14px;
}

.write-post-container div {
    margin-top: 8px;
    width: 100%;
}

#post-title {
    height: 36px;
}

#post-title label {
    width: 5%;
    float: left;
    text-align: center;
    padding-top: 6px;
    height: 30px;
}

#post-title input{
    width: 98%;
    padding: 4px 1%;
    float: left;
    height: 24px;
    border-width: 1px;
    border-color:#BFBFBF;
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.write-post-container textarea {
    margin-top: 8px;
    width: 98%;
    height: 300px;
    padding: 1%;
    resize: none;
    border-radius: 2px;
    border-color: #BFBFBF;

    /* font style */
    font-family: inherit;
    font-size: 14px;
}

.write-post-container textarea::placeholder {
    color: #BEBEBE;
}

#button-container {
    width: 100%;
}

#submit-post {
    float: right;
}

#message {
    padding: 8px 0;
}

#title {
    
}