.write-post-container {
    margin-top: 20px;
    font-size: 14px;
}

.write-post-container div {
    margin-top: 8px;
    width: 100%;
}

#post-title label {
    width: 5%;
}

#post-title input{
    width: 95%;
}

.write-post-container textarea {
    margin-top: 8px;
    width: 98%;
    height: 300px;
    padding: 1%;
    resize: none;

    /* font style */
    font-family: inherit;
    font-size: 14px;
}

#button-container {
    width: 100%;
}

#submit-post {
    float: right;
}