.postBox {
    height: 510px;
    max-height: 600px;
    margin-top: 2%;
}

.notice, .recommendReview, .popularPosts, .pleaseFind {
    display: inline-block;
    background-color: rgba(235, 235, 235, 0.32);
    width: 49%;
    height: 49%;
}

.notice {
    margin-right: 2%;
}

.popularPosts {
    margin-right: 2%;
}

.popularPosts, .pleaseFind {
    margin-top: 2%;
}