header {
    /* background */
    background-color: #686CE5;
    height: 63px;
    position: relative;
}

.banner-container {
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.banner-container img {
    max-width: 150px;
}

.user-container {
    position: absolute;
    right: 0;
    margin-top: 18px;
    margin-right: 10px;
}

.user-container button {
    width: fit-content;
    height: 23px;
    color: white;
}