body {
    font-family: 'Noto Sans KR', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

textarea {
    resize: none;
}

button {
    /* 버튼 투명하게 */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}