header {
    /* background */
    background-color: #686CE5;

    /* font style */
    color: white;
}

h1 {
    /* font style */
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 4px 2px gray;

    /* padding */
}

.sign {
    float: right;
    margin-right: 15px;
    margin-top: -40px;
}

button {
    /* font style */
    color: white;

    /* 버튼 투명하게 */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}