.write-review-container {
    width: 100%;
    margin-top: 20px;
}

#write-guide {
    font-size: 12px;
    text-decoration: underline;
    margin-left: 16px;
}

.write-review-container textarea {
    width: 98%;
    height: 80px;
    margin-top: 12px;
    padding: 1%;
    resize: none;

    /* font style */
    font-family: inherit;
    font-size: 14px;
}

#button-box {
    margin-top: 4px;
    width: 100%;
    height: 28px;
}

#submit {
    float: right;
    width: 80px;
    height: 28px;
    background-color: #686CE5;
    color: white;
    border: none;
    font-size: 14px;
}

#message {
    margin: 0;
}